@charset "utf-8";
/* CSS Document */

#layer {
	position:absolute;
	display: none;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 999;
	background: hsla(0,0%,0%,.5);
	overflow: hidden;
}
#HidContent {
	position: absolute;
	z-index: 100;
	zoom: 1;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 720px;
	height: 500px;
	margin: auto;
	background-color: #FFF;
	border: solid 1px #CCC;
	display: none;
	-moz-box-shadow: 0 0 15px #333333;
	-webkit-box-shadow: 0 0 15px #333333;
	box-shadow: 0 0 15px #333333;
}
#close {
	position: absolute;
	right: 10px;
	top: 10px;
	cursor: pointer;
	font-size: 20px;
	color: #FFF;
}
#topsearch {
	background: url(../image/topsearchbg.png) top left no-repeat;
	text-align: center;
	height: 75px;
}
#topsearch input {
	float: left;
	border: none;
	width: 400px;
	line-height: 22px;
	height: 22px;
	margin: 25px 0 0 100px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	text-indent: 6px;
	font-size: 14px;
}
#topsearch a {
	float: left;
	margin: 20px 0 0 10px;
}
#tree {
	float: left;
	margin: 10px 0 0 40px;
	background: none;
}
#searchresult {
	float: right;
	width: 330px;
	height: 343px;
	margin: 20px 40px 0 0;
	padding: 10px 20px;
	border: #45B5E3 solid 4px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
}
#newMess {
	border: none;
	background: transparent;
	width: 370px;
	height: 260px;
	resize: none;
}
.ztree li button.switch {
	visibility: hidden;
	width: 1px;
}
.ztree li button.switch.roots_docu {
	visibility: visible;
	width: 16px;
}
.ztree li button.switch.center_docu {
	visibility: visible;
	width: 16px;
}
.ztree li button.switch.bottom_docu {
	visibility: visible;
	width: 16px;
}
